body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f4f7f6;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
  width: 100%;
  text-align: left;
  position: relative;
  z-index: 10;
}

.logo {
    width: auto;
    height: 3rem;
    padding: 0.5rem 0 0 0.5rem;
}

.logo_main {
    width: auto;
    height: 6rem;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #38a1db;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2b82b4;
}

.screen {
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.game-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}
/* make full fixed height */
#map-container { 
  flex: 2;
  height: auto;
  min-height: calc(100vh - 80px);
  margin: 10px 0 10px 10px;
  border-radius: 10px;
}

.game-info-container {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: auto;
}