body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f7f6;
}

.screen {
    display: none;
    padding: 30px;
    text-align: center;
}

.screen.active {
    display: block;
}

.logo {
    width: 300px;
    margin-top: 100px;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #38a1db;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2b82b4;
}

.map-frame {
    width: 90%;
    height: 500px;
    border: none;
    margin-top: 20px;
}

#mission-info {
    margin-top: 20px;
    background: #dff2d8;
    padding: 15px;
    border-radius: 8px;
}

#screen-start {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}