/* === Global styles === */
html {
    font-family: Verdana, Tahoma, sans-serif;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("img/background.jfif") no-repeat center center fixed;
    background-size: cover;
    backdrop-filter: blur(6px);
}

body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.logo {
    width: auto;
    height: 3rem;
    padding: 0.5rem 0 0 0.5rem;
}

.quit-icon {
    position: relative;
    display: inline-block;
}

.quit-icon::after {
    content: "Click to exit the game";
    position: absolute;
    top: 90%;
    right: -50px;
    transform: translateX(-40%);
    background: #ffffff;
    color: #000;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.quit-icon:hover::after {
    opacity: 1;
}

.exit {
    width: 50px;
    padding-right: 10px;
    cursor: pointer;
}

.quit {
    color: #006ad4;
    margin-right: 10px;
}

.quit:hover {
    opacity: 0.7;
}

.question-screen, .rules-screen, .results-screen {  
  flex: 1;  
  display: flex;           
  justify-content: center;
  flex-direction: column;
}

/* === Start page === */
.start-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
    /* app */
#app{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

    /*  question box */
.question-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

}
.question-box {
    background: white;
    width: 60%;
    min-width: 40%;
    padding: 4%;
    border-radius: 5%;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

    /* Question text */
.question-box h3 {
    font-size: 160%;
    margin: 0;
    color: #333;
}

    /* Button container */
.question-buttons {
    display: flex;
    justify-content: center;
    gap: 40px;
}

    /* YES/NO buttons */
button {
    background-color: #006ad4;  /* blue */
    color: white;
    border: none;
    padding: 0.6rem 1.5rem;
    border-radius: 6px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}

button:hover {
    background-color: #0054a8;
}

/* === Rules page === */
.rules-screen {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    line-height: 1.4;
    margin: 0 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 1rem;
    background-color: aliceblue;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

/* === Main game page === */
.game-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-height: calc(100vh - 60px);
}

/* === LEFT SIDE: MAP === */
#map-container {
  flex: 2;     /* takes 2 part*/    
  height: auto;
  min-height: 200px;
  margin: 10px 0 10px 10px;
  border-radius: 10px;
}

.map-results-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    padding: 10px 18px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

/* === RIGHT SIDE: side-panel === */
.side-panel {
  flex: 1.3;     /* takes 1.3 part */
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: auto;
}
/* === RIGHT SIDE: TRIP-UPDATE SECTION === */
.trip-update {
  flex: 1.5;     /* takes 1.5 */
  background: #e0e0ff; /* just to visualize */  
  border-radius: 10px;
  min-height: 150px;
}

/* === RIGHT SIDE: INTERACTIVE-BOX SECTION === */
.interactive-box {
  flex: 2.5;     /* takes 2.5*/
  display: flex;
  flex-direction: column;
  background: #ece5dd;
  overflow: hidden;
  border-radius: 10px;
  border: 1px solid #ccc;
  font-family: "Arial", sans-serif; /* Check if there will be a padronized font in future*/
  position: relative;
}
#chatMessages{
  flex: 1;
  padding: 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-height: 221px;
}

#quit-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content-quit {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-buttons {
  gap: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  width: 150px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#quit-yes {
  background-color: #d32f2f;
  color: white;
}

.modal-buttons button:hover {
  background-color: #0054a8;
}

/*Chat area */
.guess-section{
  display: flex;
  padding: 10px;
  background: #f0f0f0;
  border-top: 1px solid #ccc;
}
.msg { 
  max-width: 80%;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  line-height: 1.3;
}
.msg.user {
  background: #d4f8c4;
  align-self: flex-end;
  border-bottom-right-radius: 0;
}
.msg.system {
  background: #fff;
  align-self: flex-start;
  border-bottom-left-radius: 0;
}
/*Input area (bottom bar) */
#countryInput {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #bbb;
  outline: none;
  padding-left: 15px;
}
.guess-section button {
  margin-left: 10px;
  padding: 8px 14px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
/*Toggle btn */
.more-menu {
  position: absolute;
  right: 10px;
  bottom: 70px;
  background: #e8f1ff;
  padding: 10px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.25);
  border: 1px solid #bcd4ff;
  z-index: 999;
}
.more-menu.hidden {
  display: none;
}
.more-menu button {
  background: #006ad4;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}

/* === Results page === */
.result_container {
    flex: 1; 
    width: 80%;
    margin: 0;
    padding: 0;
}

#result_table {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    border: black solid 1px;
    margin: 0.5rem 0 0.5rem 0;
    background-color: aliceblue;
}

#result_table table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto;
    word-wrap: break-word;
}
#result_table tr td {
    border: black solid 1px;
    padding: 1rem;
}

#result_table tr td:first-child {
    width: 70%;
}

#result_table tr td:last-child {
    width: 30%;
    text-align: right;
}

.result_buttons {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    margin: 0;
}

.result_buttons button {
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: midnightblue;
    color: whitesmoke;
    width: 100%;
    margin: 0.5rem;
}

.result_buttons button:hover {
    background-color: aliceblue;
    color: black;
}

/* === Modal leaderboard window === */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background: #fff;
  margin: auto;
  padding: 20px;
  border-radius: 8px;
  width: fit-content;
  max-width: 80%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 24px;
  cursor: pointer;
}

#leaderboard_table table{
    border: 1px solid black;
    width: 80%;
    margin: 0.5rem 0;
    background-color: aliceblue;
    border-collapse: collapse;
}

#leaderboard_table tr th, td {
    border: 1px solid black;
    padding: 0.5rem;
    text-align: center;
}

/* === Final page === */
.bye-container {
    flex: 1;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bye-message {
    width: 60%;
    padding: 1rem;
    background-color: mediumblue;
    color: whitesmoke;
    border: 1px solid;
    border-radius: 20px;
    display: grid;
    place-items: center;
}

/* === media Result page === */
@media screen and (max-width: 600px) {
    .quit {
        display: none;
    }

    .question-buttons {
        gap: 10px;
    }

    .game-screen {
        flex-direction: column;
    }

    #map-container {
        margin: 10px 10px 0 10px;
    }

    #result_status {
        margin: 0;
    }

    #result_table {
        margin: 0;
    }

    #result_table tr td {
        min-width: 80px;
    }

    .result_buttons {
        width: 100%;
        flex-direction: column;
        gap: 0;
    }

    .result_buttons button {
        width: 10rem;
    }
}
/* === Final page === */
