/* === Global styles === */

/* === Start page === */

/* === Welcome page === */

/* === Task page === */

/* === Rules page === */

/* === Main game page === */

/* === Results page === */

/* === Final page === */