body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #f8f5f5;
}

#app {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 100;
}

.logo {
    width: auto;
    height: 3rem;
    padding: 0.5rem 0 0 0.5rem;
}

.logo_main {
    width: auto;
    height: 6rem;
}

.quit-icon {
    position: relative;
    display: inline-block;
}

.quit-icon::after {
    content: "Click to exit the game";
    position: absolute;
    top: 90%;
    right: -50px;
    transform: translateX(-40%);
    background: #000;
    color: #fff;
    padding: 6px 10px;
    border-radius: 6px;
    font-size: 12px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.quit-icon:hover::after {
    opacity: 1;
}

.exit {
    width: 50px;
    padding-right: 10px;
    cursor: pointer;
}

.quit {
    color: #006ad4;
    margin-right: 10px;
}

.quit:hover {
    opacity: 0.7;
}

#quit-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.modal-content-quit {
  background: white;
  padding: 20px 30px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
}

.modal-buttons {
  gap: 20px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.modal-buttons button {
  width: 110px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

#quit-yes {
  background-color: #d32f2f;
  color: white;
}

.modal-buttons button:hover {
  background-color: #0054a8;
}

button {
    padding: 12px 25px;
    margin: 10px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background: #38a1db;
    color: white;
    cursor: pointer;
}

button:hover {
    background: #2b82b4;
}

.screen {
    min-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    padding: 0.5rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

.game-screen {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
}

#map-container { 
  flex: 2;
  height: auto;
  min-height: calc(100vh - 80px);
  margin: 10px 0 10px 10px;
  border-radius: 10px;
}

.game-info-container {
  flex: 1.3;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  height: auto;
}

@media screen and (max-width: 768px) {
  .game-screen {
    flex-direction: column;
  }

  #map-container {
    width: 100%;
    height: 200px;
    margin: 10px;
  }

  .game-info-container {
    padding: 10px;
  }
}